# Ignore everything by default
*

# But don't ignore these directories and their contents
!PythonOpt/
!PythonOpt/**

!StataHelper/
!StataHelper/**

!Notes/
!Notes/**

# Don't ignore this gitignore file itself
!.gitignore
